.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    height: 60px;
    width: 100%;

    padding-left: 20px;
    margin-left: 1rem;
    padding-top: 7px;
}


// LOGO CSS
.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 45px;
}


.logo {
    padding-left: 3px;
    // width: 145px;
    height: 45px;
    margin-right: 0.6rem;
}

.label-logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    // color: var(--text-color);
    font-weight: 600;
    line-height: 1;
    font-size: 1rem;
}



//  END OF LOGO CSS


// SEARCH CSS
.search {
    width: 100% !important;
    position: relative;
    height: var(--search-height);
    display: flex;
    border-radius: var(--search-border-radius);
    border: 1.5px solid rgb(172 167 167 / 88%);
    padding-left: 16px;
    // background-color: rgba(22, 24, 35, 0.06);
    ;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1rem;
        caret-color: red;
        background-color: transparent;
        border: none !important;
        padding-left: 0 !important;

        &:focus-within {
            border-color: transparent !important;
            outline-color: transparent !important;
        }


    }

    input:not(:placeholder-shown)~.search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: var(--dark-blue);
    }
}


.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.3rem;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.hahahaha {
    color: red !important;
}

// END OF SEARCH CSS



// ACTIONS CSS
.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


// END OF ACTIONS CSS