@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary: #fe2c55;
    --black: #252525;
    --text-color: #161823;
    --white: #fff;
    --dark-blue: #0164e6;
    --light-blue: #a9d7ff;

    --default-layout-header-height: 60px;
    --default-layout-horizontal-spacer: 24px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow-y: overlay;
    user-select: none;
    overflow-x: hidden;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #616161;
}



html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}



::-webkit-input-placeholder {
    background: 0px transparent !important;
}



button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    // color: transparent;
}



//  CUSTOM CSS ANT DESIGN


:where(.css-dev-only-do-not-override-mc8oq).ant-select-dropdown {
    overflow-x: hidden !important;
    border-radius: 12px !important;
    padding: '16px 0 8px' !important;
}

:where(.css-dev-only-do-not-override-3fwlr8).ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {

    padding-inline: calc(50% - 17px) !important;

}

.ant-layout-sider-dark {
    background-color: transparent !important;
}

.ant-layout-sider-trigger {
    background: none !important;
}

.ant-switch-checked {
    background-color: #272626 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--dark-blue) !important;
    border-color: var(--dark-blue) !important;
}

.ant-menu-item {
    padding-left: 23px !important;
}

:where(.css-dev-only-do-not-override-d4hxk0).ant-tooltip .ant-tooltip-inner {
    box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-5iyz8y).ant-btn.ant-btn-round.ant-btn-lg:hover {
    background-color: #b0daffc2 !important;
}

:where(.css-dev-only-do-not-override-10iaro9).ant-btn.ant-btn-round.ant-btn-lg:hover {
    background-color: #8ac8ff67 !important;
}

// :where(.css-dev-only-do-not-override-x67mzg).ant-input-affix-wrapper>input.ant-input {
//     background-color: transparent !important;
// }