@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color: #161823;
    --white: #fff;
    --blue: #3366cc;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-horizontal-spacer: 24px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow-y: overlay;
}

// Scrollbar CSS
body::-webkit-scrollbar {
    width: 16px;
}

body:not([no-y-overflow])::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #606060;
}

body::-webkit-scrollbar-thumb {
    height: 56px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%);
}




button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}



//  CUSTOM CSS ANT DESIGN


// Change color tooltip
.ant-tooltip {
    opacity: 80% !important;
}

.ant-menu-item-selected {
    color: var(--primary) !important;
    background-color: #f7f7f7 !important;
}

// .ant-layout {
//     position: relative !important;
// }

// .ant-layout-sider {}

// Button Trigger ">"
.ant-layout-sider-trigger {
    background-color: var(--white) !important;
    color: var(--primary) !important;
}