.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;


    height: 60px;
    width: 100%;
    // box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    padding-left: 2px;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 45px;
}


.logo {
    width: 145px;
    height: 45px;
}

.label-logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
    font-weight: 600;
    line-height: 1;
    font-size: 1rem;
}

.search {
    position: relative;
    width: 500px;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1rem;
        caret-color: var(--black);
        background-color: transparent;
    }

    input:not(:placeholder-shown)~.search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: var(--blue);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.3rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}