.card {
    min-width: 246px;
    max-height: 138px;
    cursor: pointer;
    display: flex;
    margin-bottom: 15px;
    width: 100%;

}

.img {
    max-width: 246px;
    max-height: 138px;
    border-radius: 10px;
}

.title {
    font-size: 1rem;
    font-weight: 600;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    line-height: 1.3em;
    margin-bottom: 8px;
}

.channel {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

.check {
    padding-left: 10px;
    color: #616161;

}

.view {
    padding-left: 10px;
    position: relative;

    &::after {
        content: '•';
        position: absolute;
        right: -9px;
        color: inherit;
    }
}

.publish-day {
    padding-left: 14px;
}

.description {
    padding-top: 10px;
    font-size: 0.8rem;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    line-height: 1.2em;
    height: 5.8em;

}