.header {
    margin-top: -30px;
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #616161;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.text {
    font-weight: 500;
}